

.main-body {
  background:#dbd3ea;
  margin-bottom: 0vw;
  margin-top: 0vw;
  padding-top: 0vw
}

.header {
  max-width: 100%;
  height: auto;
  color: #FFF;
  text-shadow: 1px 1px 1px #333;
  margin-left: auto;
  margin-right: auto;
  background-image: linear-gradient( 135deg, #9f05ff69 10%, #fd5e086b 100%);
  position: relative;
  padding-left: 1vw;
  padding-right: 1.5vw;
  padding-bottom: 1.5vw;
  margin-top: 0vw
}

.sticker {
  width: 20%;
  height: 40%;
  transform: translate(-80%, -10%);
  position: absolute;
  top: 10%;
  left: 100%;
}

.header-text {
  font-style: italic;
  font-size: 4vw;
  color:rgb(31, 108, 232);
  font-weight:700;
  position: relative;
  border-style: solid;
  margin-bottom: 0.5vw;
  text-align: centre
}

.header-buttons {
  transform: translate(-50%, -50%);
  position: absolute;
  top: 80%;
  left: 50%;
  border-style: solid;
  margin-top: 0vw
}

.header-call-btn {
  padding: 1vw; 
  border-radius: 10px; 
  background-color: #5664f9; 
  color: #fff; 
  text-decoration: none;
  font-family: sans-serif; 
  font-size: 1.5vw;
  margin-right: 1vw;
  float: right
}

.whatsapp-btn-2 {
  padding:1vw;
  border-radius: 8px; 
  background-color: #25D366; 
  color: #fff; 
  text-decoration: none; 
  font-family: sans-serif; 
  font-size: 2vw;
  float: right;
  margin-left: 1vw;
}

.header-img{
  max-width: 100%;
  height: auto;
  margin-left: auto;
  margin-right: auto;
  display: block;
  margin-bottom: 1vw;
  padding-left: 1vw;
  padding-right: 1.5vw
}

.info-Container-1 {
  margin-top: 2vw;
  margin-bottom: 1vw;
  margin-left: auto;
  position: relative;
  max-width: 100%;
  height: auto;
  margin-right: auto;
  background:#dbd3ea;
  padding-left: 3vw;
  padding-right: 3.5vw;
  padding-bottom: 0vw;
}

.info-header-text-1 {
  font-size: 3.5vw;
  text-decoration-line: underline;
  margin-bottom: 1vw;
  text-align: center
}

.info-desc-text-1 {
  font-size: 1.5vw;
  font-weight: 600;
  color: rgb(27, 26, 26);
  text-align: justify;
  margin-bottom: 0.5vw;
}

.info-desc-text-2 {
  font-size: 2vw;
  font-weight: 600;
  color: rgb(134, 134, 249);
  margin-bottom: 0.5vw;
  text-decoration-line: underline;
  margin-top: 1vw;
}

.cgalList {
  max-width: 100%;
  margin-top: 2vw;
  margin-bottom: 1vw;
  position: relative;
  margin-left: 3vw;
  margin-right: 3.5vw;
  height: auto;
  padding-left: 0px;
  padding-top: 0vw;
}

.image-Container {
  border-style: solid;
  max-width: 100%;
  height: auto;
  margin-left: auto;
  background-color: rgb(247, 200, 162);
  display: inline-block;
  padding-right: 0vw;
  margin-bottom: 0vw;
  margin-top: 0vw;
  padding-bottom: 0vw;
  padding-top: 0vw
}

.cgalImg {
  float: left;
  max-width: 30%;
  max-height: 100%;
}

.cgal-info-container {
  margin-bottom: 0px;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  padding: 0;
  max-width: 70%;
  height: 100%;
  margin-right: 0vw;
  background-color: rgb(247, 200, 162);
}

.cgal-info-header-text {
  font-size: 4vw;
  font-weight: 700;
  color: rgb(81, 84, 240);
  margin-top: 0.5vw;
  margin-left: 1vw;
  margin-bottom: 0.5vw;
  text-decoration-line: underline;
}

.cgal-info-desc-text {
  color: rgb(94, 91, 91);
  font-size: 3vw;
  font-weight: 500;
  margin-top: 0.5vw;
  margin-left: 1vw;
  margin-bottom: 0.5vw;
  font-weight: 700
}

.cgal-info-buttons {
  display: inline-block;
  max-width: 100%;
  margin-left: auto;
  margin-right: 1vw;
  margin-top: 0.5vw;
}

.call-btn {
  padding:1vw; 
  border-radius: 10px; 
  background-color: #101311; 
  color: #fff; 
  text-decoration: none;
  font-family: sans-serif; 
  font-size: 2vw;
  float: right
}

.info-Container-2 {
  margin-top: 4vw;
  position: relative;
  max-width: 100%;
  height: auto;
  background:#dbd3ea;
  padding-left: 3vw;
  padding-right: 3.5vw
}

.info-header-text-2 {
  font-size: 4vw;
  font-weight: 700;
  color: rgb(141, 39, 39);
  margin-bottom: 1vw;
  text-decoration: underline;
  text-align: center;
}

.info-Container-3 {
  margin-top: 4vw;
  margin-left: 0px;
  padding-bottom: 10px;
  position: relative;
  max-width: 100%;
  height: auto;
  margin-right: 0px;
  background:rgb(9, 4, 65);
  padding-left: 0vw;
}

.bottom-navbar {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
  background-color: #020202;
  top: 0;
  width: 100%;
  height: auto;
  margin-bottom: 0vw
}

.navbar-element {
  float: left;
}

li a {
  display: block;
  color: white;
  text-align: center;
  padding: 1vw 1vw;
  font-size: 2vw;
  text-decoration: none;
}

li a:hover {
  background-color: #3dc03d;
}

.city-info-container {
 padding-left: 0vw;
 padding-top: 0vw;
 margin-top: 0vw
}

.bottom-header-text {
  margin-left: 1.5vw;
  padding-left : 0vw;
  color:rgb(247, 242, 242);
  font-size: 3.5vw;
  margin-top: 1.5vw;
  margin-bottom: 0vw;
  padding-bottom : 0vw;
  padding-top : 0vw;
}

.city-list {
  padding-left: 0vw;
  padding-right: 7vw;
  margin-bottom:1vw;
  margin-top: 0vw;
}

.city {
  margin-left: 3vw;
  color:rgb(247, 239, 239);
  display: inline-block;
  vertical-align:top;
  padding-top: 0vw;
  padding-right: 0vw;
  padding-left: 0vw;
  margin-right: 1vw; 
  font-size: 2vw;
  margin-top: 1vw;
  margin-bottom: 1vw;
}

.city-text {
 font-size: 3vw;
 margin-top: 0vw;
 margin-bottom: 0.5vw;
 margin-left: 0vw
}

.area-list{
  padding-left: 1vw;
  padding-right: 1vw;
  padding-top: 0vw;
  list-style-type: square;
  list-style-type: square;
  font-size: 1.5vw;
  margin-left: 0vw;
  font-size: 1vw;
}

.area-name {
  color:rgb(247, 239, 239);
  font-size: 2vw;
  margin-bottom:0.5vw;
  margin-left: 2vw;
  padding-left: 0vw;
}

.bottom-header-text-2 {
  margin-left: 2vw;
  padding: 0vw;
  color:rgb(244, 239, 239);
  font-size: 1vw;
  margin-bottom: 1vw;
  margin-top: 2vw
}

.About-us-text {
  display: none
}

#whatsapp-button {
  position: fixed;
  bottom: 20px;
  right: 20px;
  z-index: 9999;
}

#whatsapp-button a img {
  width: 60px; 
  height: auto;
}